In [6]:
'''
Compute the euclidean distance between series (points) p and q, without using a packaged formula.
Input
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])
'''
import numpy as np
import pandas as pd
p = pd.Series([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
q = pd.Series([10, 9, 8, 7, 6, 5, 4, 3, 2, 1])
#p and q should have the same length
if len(p) == len(q):
    euclidean_distance = 0
    for i in range(len(p)):
        euclidean_distance += ((p[i]-q[i])**2)
    euclidean_distance = euclidean_distance**0.5
# Calculate the Euclidean distance
print(euclidean_distance)

18.16590212458495

In [7]:
'''Change the order of columns of a dataframe. Interchange columns 'a' and 'c'.
Input
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))'''
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
df = df[['c','b','a','d','e']]
#Interchange columns 'a' and 'c'
print(df)

    c   b   a   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19

In [93]:
'''Change the order of columns of a dataframe.  Create a generic function to interchange two columns, without hardcoding column names.
Input
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))'''
def interchange(df,column1,column2):
    columns=df.columns.tolist()
    index1 = columns.index(column1)
    index2 = columns.index(column2)
    columns[index1],columns[index2] = columns[index2],columns[index1]
    # Swap the columns
    return df[columns]
df = pd.DataFrame(np.arange(20).reshape(-1, 5), columns=list('abcde'))
df_new = interchange(df,'a','c')
#Interchange columns 'a' and 'c'
df_new

    c   b   a   d   e
0   2   1   0   3   4
1   7   6   5   8   9
2  12  11  10  13  14
3  17  16  15  18  19

In [9]:
'''Format or suppress scientific notations in a pandas dataframe. Suppress scientific notations like ‘e-03’ in df and print upto 4 numbers after decimal.
Input
df = pd.DataFrame(np.random.random(4)**10, columns=['random'])
df
#>          random
#> 0  3.474280e-03
#> 1  3.951517e-05
#> 2  7.469702e-02
#> 3  5.541282e-28'''
df = pd.DataFrame(np.random.random(4)**10, columns=['random'])
print(df)
df['random'] = df['random'].apply(lambda x: '{:.4f}'.format(x))
print(df)

         random
0  4.191415e-09
1  6.710224e-01
2  2.418607e-06
3  2.508359e-09
   random
0  0.0000
1  0.6710
2  0.0000
3  0.0000

In [91]:
'''Create a new column that contains the row number of nearest column by euclidean distance. Create a new column such that, each row contains the row number of nearest row-record by euclidean distance.
Input
df = pd.DataFrame(np.random.randint(1,100, 40).reshape(10, -1), columns=list('pqrs'), index=list('abcdefghij'))
df'''
df = pd.DataFrame(np.random.randint(1, 100, 40).reshape(10, -1), columns=list('pqrs'), index=list('abcdefghij'))
def euclidean_distance(row1, row2):
    return np.linalg.norm(row1 - row2)
df['nearest_row'] = ''
df['dist'] = ''
for index,row in df.iterrows():
    list_row = [df.loc[i] for i in df.index if i != index]
    distances_to_rows = [euclidean_distance(row[['p','q','r','s']], list_row[x][['p','q','r','s']]) for x in range(len(list_row))]
    #a list within the euclidean_distance
    min_index = np.argmin(distances_to_rows)
    #the index of min
    df.loc[index,'nearest_row'] = list(df.index)[min_index]
    df.loc[index,'dist'] = distances_to_rows[min_index]
print(df)

    p   q   r   s nearest_row       dist
a  55  25  10  97           i  55.461698
b  30  18  66  40           h  42.684892
c   9  39  78   8           h  32.710854
d  90  22  58   2           g    35.1141
e  67  53  51  75           f  29.614186
f  99  32  96  25           d  46.411206
g  71  79  64  79           e  29.614186
h  77  20  34  24           d    35.1141
i  41  42  72   7           c  32.710854
j  65  41   6  45           h  42.544095

In [87]:
'''Correlation is a statistical technique that shows how two variables are related. Pandas dataframe.corr() method is used for creating the correlation matrix. It is used to find the pairwise correlation of all columns in the dataframe. Any na values are automatically excluded. For any non-numeric data type columns in the dataframe it is ignored.
Input
data = {'A': [45, 37, 0, 42, 50],
        'B': [38, 31, 1, 26, 90],
        'C': [10, 15, -10, 17, 100],
        'D': [60, 99, 15, 23, 56],
        'E': [76, 98, -0.03, 78, 90]
        }'''
data = {'A': [45, 37, 0, 42, 50],
        'B': [38, 31, 1, 26, 90],
        'C': [10, 15, -10, 17, 100],
        'D': [60, 99, 15, 23, 56],
        'E': [76, 98, -0.03, 78, 90]
        }
df = pd.DataFrame(data)
df.corr()
#Pandas dataframe.corr() method is used for creating the correlation matrix
print(df)
print(df.corr())

    A   B    C   D      E
0  45  38   10  60  76.00
1  37  31   15  99  98.00
2   0   1  -10  15  -0.03
3  42  26   17  23  78.00
4  50  90  100  56  90.00
          A         B         C         D         E
A  1.000000  0.756038  0.624390  0.493811  0.928600
B  0.756038  1.000000  0.966733  0.363559  0.649558
C  0.624390  0.966733  1.000000  0.218860  0.528068
D  0.493811  0.363559  0.218860  1.000000  0.720177
E  0.928600  0.649558  0.528068  0.720177  1.000000